[Unit]
Description=ROT13 demo service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/php /home/amandeep/git/rabbitmqphp_example/spoonacularServer.php

[Install]
WantedBy=multi-user.target
